@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins',sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
}
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: rgb(70, 153, 125);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
nav a {
  font-size: 1.8rem;
  color: rgb(174, 173, 224);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid rgb(75, 72, 122);s
}
nav a:hover {
nav a.active {
  color: rgb(126, 128, 158);
  border-bottom: 3px rgb(41, 37, 63);
}}

@media(max-width:995px) {
  nav-down{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #666c9c;
    border-bottom: #2f1e6d;
    border-top: 0.1rem solid rosybrown;
  }

nav.active {
  display: block;
}
nav a{
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}
nav a:hover,
nav a.active {
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom: 0.5rem;
}
}
section{
  min-height: 100vh;
  padding:  5rem 9% 5rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}
.home .home-content h1{
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.3;
}
span {
  color: rgb(22, 22, 189);
}
.home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.home-content p{
  font-size: 2rem;
}
.home-img{
  border-radius: 60%;
}
.home-img img{
  position: relative;
  width: 32vw;
  border-radius:70%;
  cursor: pointer;
  transition: 0.2s linear;
}
.social-icons a {
  display: inline-flex;
  justify-content:center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  color: #b74b4b;
  background-color: transparent;
  border: 0.2rem solid #7e7e96;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem;
  transition: 0.5s ease;

}
.social-icons a:hover{
  color: black;
  transform: scale(1.3)translateY(-5px);
  background-color: #110b63;
  box-shadow: 0 0 25px #20167e;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #bfc4eb;
  letter-spacing:0.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
  border: 2px solid #16064d;
}
.btn:hover{
  transform: scale3d(1.03);
  background-color: aquamarine;
  color: black;
  box-shadow: 0 0 25px;
}
.typing-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.typing-text span{
  position: relative;
}
.typing-text span::before{
  content: "SOFTWARE DEVELOPER";
  color: aqua;
  animation: words 20s infinite;
}
.typing-text span::after{
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor{
  to{
    border-left: 3px solid rgb(94, 94, 136);
  }
}
@keyframes words{
  0%,20% {
    content: "WEB developer";
  }
  21%,40%{
    content: "Software developer";
  }
  41%,60%{
    content: "JAVA DEVELOPER";
  }
  61%,80%{
    content: "WEB DESIGNER";
  }
}
@media (max-width: 1000px){
  .home{
    gap: 4rem;
  }
}

@media (max-width: 995px ){
  .home{
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home .home-content h3{
    font-size: 2.5rem;
  }
  home .home-content h1{
    font-size: 5rem;
  }
}